<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>New session created!</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">
            You are using an <strong>outdated</strong> browser. Please
            <a href="http://browsehappy.com/">upgrade your browser</a> to improve
            your experience.
            </p>
        <![endif]-->
        session ID : {{ sessionId }}
        your user ID : {{ userId }}

        <br>
        <a href="/get/?sessionId={{ sessionId }}&userId={{ userId }}" targe="_blank">get</a>
        <br>
        <br>

        <form action="/post/" target="_blank" method="post">
            <textarea name="content"></textarea>

            <div class="meta" style="display: none">
                <input name="sessionId" value="{{ sessionId }}">
                <input name="userId" value="{{ userId }}">
            </div>

            <input type="submit" value="Submit">
        </form>
    </body>
</html>
